.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Avenirltstd, sans-serif;
  font-size: 56px;
  line-height: 44px;
  font-weight: 700;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Avenirltstd, sans-serif;
  font-size: 40px;
  line-height: 51px;
  font-weight: 700;
}

h3 {
  margin: 20px auto 10px;
  font-family: Avenirltstd, sans-serif;
  font-size: 26px;
  line-height: 29px;
  font-weight: 900;
}

.mycontainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1186px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 40px;
  padding-left: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -o-object-fit: fill;
  object-fit: fill;
}

.mycontainer.secondcontainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  margin: 0px auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.mycontainer.subthird {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 40px auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.mycontainer.footercontain {
  padding-top: 32px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.mycontainer.lastctadiv {
  margin-bottom: 80px;
}

.mycontainer.testimonial {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.mycontainer.contact {
  height: 100vh;
}

.mycontainer.how {
  position: static;
}

.navcontainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.paragraph {
  margin-bottom: 0px;
  padding: 10px 20px;
  font-family: Montserrat, sans-serif;
  color: #000;
  font-size: 18px;
  font-weight: 900;
}

.paragraph.footerlogo {
  color: #fff;
}

.paragraph.aboutlogo {
  color: #fff;
}

.navbar {
  margin-top: 10px;
  background-color: transparent;
}

.herosection {
  position: static;
  overflow: hidden;
  width: auto;
}

.herosection.aboutheroblack {
  background-color: #000;
}

.navlink {
  margin: 15px;
  padding: 5px;
  font-family: Lato, sans-serif;
  color: #000;
  font-size: 18px;
  font-weight: 900;
}

.navlink:active {
  border: 1px none #000;
}

.navlink.w--current {
  border-bottom: 4px solid #2e7fff;
  border-radius: 0px;
  color: #000;
}

.navlink.contactnav {
  padding: 12px 35px;
  border-radius: 4px;
  background-color: #2e7fff;
  color: #fff;
}

.navlink.aboutnav {
  color: #fff;
}

.herocontainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  margin-top: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.herotexts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  max-width: 50%;
  margin-left: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.heading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-family: Lato, sans-serif;
  color: #000;
  font-size: 56px;
  line-height: 60px;
  font-weight: 900;
}

.heading.aboutheading {
  margin-bottom: 120px;
  color: #fff;
  font-size: 56px;
  line-height: 125%;
}

.heropara {
  margin-top: 32px;
  margin-bottom: 48px;
  font-family: Lato, sans-serif;
  color: #000;
  font-size: 20px;
  line-height: 32px;
  font-weight: 500;
}

.ctabutton {
  display: block;
  padding: 18px 45px;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  border-radius: 8px;
  background-color: #000;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-family: Lato, sans-serif;
  font-size: 20px;
  line-height: 32px;
}

.ctabutton:hover {
  background-color: #000;
  box-shadow: 1px 1px 14px 0 rgba(0, 0, 0, 0.4);
  -webkit-transform: translate(0px, -2px);
  -ms-transform: translate(0px, -2px);
  transform: translate(0px, -2px);
}

.ctabutton.lastcta {
  margin-right: auto;
  margin-left: auto;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.ctabutton.middlecta {
  display: inline-block;
  margin-top: 40px;
}

.heroimage {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50vw;
  height: 50vw;
  max-width: 50%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.image {
  margin-right: auto;
  margin-left: auto;
}

.image-2 {
  display: block;
}

.secondsection {
  position: relative;
  overflow: hidden;
}

.heading-2 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.section2heading {
  margin-bottom: 48px;
  padding-right: 130px;
  padding-left: 130px;
  font-family: Lato, sans-serif;
  color: #000;
  font-size: 32px;
  font-weight: 900;
  text-align: center;
}

.section2cardwrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.cardsecondsection {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 33.333333333333336%;
  margin: 0px 20px;
  padding: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 0px solid #000;
  border-radius: 8px;
  box-shadow: 1px 1px 24px 0 rgba(0, 0, 0, 0.09);
}

.grid {
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.cardimage {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.heading-3 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  font-family: Lato, sans-serif;
  color: #000;
  font-size: 24px;
}

.cardtext {
  padding: 20px;
}

.thirdsection {
  overflow: visible;
}

.commonsectiontext {
  width: 50%;
  margin: 40px;
}

.commonsectionimage {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  margin: 40px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-span {
  text-decoration: line-through;
}

.fourthsection {
  overflow: hidden;
}

.fifthsection {
  overflow: hidden;
}

.cardpara {
  margin-top: 14px;
  font-family: Lato, sans-serif;
  color: #000;
  font-size: 18px;
  line-height: 30px;
}

.commonsectionpara {
  margin-top: 40px;
  margin-bottom: 0px;
  font-family: Lato, sans-serif;
  color: #000;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
}

.heading-4 {
  margin-bottom: 0px;
  font-family: Lato, sans-serif;
  color: #000;
  font-size: 36px;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.div-block.third {
  margin-top: 40px;
  margin-bottom: 40px;
}

.fourth {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
}

.fifth {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
}

.third {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
  margin-bottom: 40px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.third.abouthead {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.servicecontainer {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 169px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
}

.servicecardcontainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

._2cards {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

.heading-5 {
  position: static;
  margin-top: -169px;
  margin-bottom: 0px;
  padding-top: 0px;
  font-family: Lato, sans-serif;
  color: #000;
}

.service-card {
  margin: 40px 0px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 8px;
  box-shadow: 1px 1px 24px 0 rgba(0, 0, 0, 0.09);
}

.secondcard {
  padding-top: 211px;
}

.firstcard {
  margin-top: -207px;
  padding-top: 0px;
}

.grid-2 {
  grid-column-gap: 41px;
  -ms-grid-rows: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
}

.seventhsection {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.bluebox {
  position: relative;
  z-index: 25;
  width: 60vw;
  background-color: transparent;
}

.div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.testimonialimage {
  position: relative;
  z-index: 9007199254740991;
  margin-top: 91px;
  margin-right: -210px;
  margin-bottom: 91px;
}

.footer {
  overflow: hidden;
}

.eigthsection {
  overflow: hidden;
}

.div-block-3 {
  margin: -92px 80px 80px;
}

.button {
  margin-right: auto;
  margin-left: auto;
}

.div-block-4 {
  height: 600px;
  background-color: #000;
}

.footerlinkcontainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footerlink {
  margin-bottom: 0px;
  padding-right: 36px;
  padding-left: 0px;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 32px;
  line-height: 100%;
  text-decoration: none;
}

.div-block-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  width: 100%;
  height: 100%;
  background-color: #2e7fff;
  -o-object-fit: cover;
  object-fit: cover;
}

.servicetext {
  position: -webkit-sticky;
  position: sticky;
  top: 240px;
  width: auto;
  margin-bottom: 121px;
  padding-right: 40px;
  padding-left: 40px;
}

.heading-6 {
  margin-right: auto;
  margin-left: auto;
}

.lastheading {
  margin: 0px auto 40px;
  font-family: Lato, sans-serif;
  color: #000;
  font-size: 32px;
  text-align: center;
}

.heading-7 {
  font-family: Lato, sans-serif;
  color: #000;
}

.heading-8 {
  font-family: Lato, sans-serif;
  color: #000;
}

.paragraph-2 {
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 20px;
}

.paragraph-3 {
  margin-top: 45px;
  margin-bottom: 39px;
  padding-bottom: 47px;
  border-bottom: 3px solid #fff;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 44px;
  line-height: 125%;
  font-weight: 500;
}

.paragraph-4 {
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 18px;
}

.paragraph-5 {
  font-family: Lato, sans-serif;
  color: #fff;
}

.div-block-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 146px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.f {
  text-decoration: none;
}

.link-block {
  text-decoration: none;
}

.aboutusheading {
  margin-top: 80px;
  padding-right: 20px;
  padding-left: 20px;
}

.aboutsubheading {
  margin-top: 0px;
  margin-bottom: 14px;
  font-family: Lato, sans-serif;
  color: #000;
  font-size: 26px;
  line-height: 26px;
}

.aboutuspara {
  font-family: Lato, sans-serif;
  color: #000;
  font-size: 21px;
  line-height: 150%;
}

.abouttextwrapper {
  margin-top: 40px;
}

.mail {
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Avenirltstd, sans-serif;
  font-size: 24px;
  line-height: 164%;
  font-weight: 900;
  text-align: center;
}

.text-span-2 {
  color: #2e7fff;
}

.text-span-3 {
  color: #2e7fff;
}

.div-block-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.studioleadership {
  margin: 60px auto -81px;
  font-family: Avenirltstd, sans-serif;
  color: #000;
  font-size: 40px;
  line-height: 40px;
  font-weight: 900;
}

.abouthero {
  margin-top: 80px;
  padding-right: 20px;
  padding-left: 20px;
}

.aboutheadtextwrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  margin-top: 30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  font-family: Avenirltstd, sans-serif;
  font-size: 26px;
  font-weight: 900;
}

.aboutheroleft {
  width: 50%;
  margin-bottom: 0px;
  padding-right: 30px;
  font-size: 26px;
  line-height: 125%;
}

.aboutheroright {
  width: 50%;
  margin-bottom: 0px;
  padding-left: 30px;
  font-size: 21px;
  line-height: 150%;
  font-weight: 500;
}

.leadersub {
  font-family: Lato, sans-serif;
  color: #000;
  font-size: 21px;
  line-height: 21px;
}

.leaderslinkwrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.leaderslink {
  padding-right: 20px;
  padding-left: 0px;
  font-family: Lato, sans-serif;
  color: #2e7fff;
  font-size: 21px;
  line-height: 21px;
  font-weight: 900;
  text-decoration: none;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.section {
  position: absolute;
  left: auto;
  top: 246px;
  right: 0%;
  bottom: auto;
  z-index: 2;
  overflow: hidden;
  margin-top: 183px;
  margin-right: -70px;
}

._2section {
  position: absolute;
  left: -10%;
  top: 126%;
  right: -12%;
  bottom: 0%;
}

.confetti {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
}

.image-4 {
  position: absolute;
}

._3section {
  position: absolute;
  left: auto;
  top: 272%;
  right: -8%;
  bottom: 0%;
}

._4section {
  position: absolute;
  left: -8%;
  top: 461%;
  right: auto;
  bottom: 0%;
}

.nav-menu-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-6 {
  position: static;
}

.div-block-8 {
  position: absolute;
  left: auto;
  top: 6%;
  right: -7%;
  bottom: 0%;
  z-index: 3;
  overflow: hidden;
  -o-object-fit: fill;
  object-fit: fill;
}

.div-block-8.aboutcon1 {
  top: 55%;
}

.div-block-8.whatcon {
  left: auto;
  top: 5%;
  right: 0%;
  bottom: 0%;
  z-index: -3;
}

.div-block-9 {
  position: relative;
  overflow: hidden;
}

.image-7 {
  position: absolute;
}

.div-block-10 {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.div-block-11 {
  position: absolute;
  left: -10%;
  top: 11%;
  right: auto;
  bottom: 0%;
  z-index: -100;
}

.div-block-11.aboutcon2 {
  top: 110%;
}

.div-block-12 {
  position: absolute;
  left: auto;
  top: 19%;
  right: -16%;
  bottom: 0%;
}

.div-block-13 {
  position: absolute;
  left: -8%;
  top: 30%;
  right: auto;
  bottom: 0%;
}

.div-block-13.whatcon2 {
  top: 43%;
}

.div-block-14 {
  position: relative;
  overflow: hidden;
}

.reachout {
  margin-bottom: 16px;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 32px;
  line-height: 100%;
}

.hi {
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 62px;
  line-height: 100%;
  font-weight: 900;
}

.link {
  text-decoration: none;
}

.div-block-15 {
  margin-top: 105px;
}

.div-block-16 {
  margin-top: 150px;
}

.paragraph-6 {
  display: inline-block;
  margin-top: 24px;
  color: #fff;
}

.image-8 {
  position: absolute;
  left: auto;
  top: 69%;
  right: -9%;
  bottom: 0%;
}

.div-block-17 {
  position: absolute;
  left: auto;
  top: 65%;
  right: -9%;
  bottom: 0%;
  overflow: visible;
}

.div-block-18 {
  position: absolute;
  left: -10%;
  top: 110%;
  right: auto;
  bottom: 0%;
}

.div-block-19 {
  position: absolute;
  left: auto;
  top: 208%;
  right: -15%;
  bottom: 0%;
}

.image-9 {
  position: absolute;
  left: -7%;
  top: 331%;
  right: auto;
  bottom: 0%;
}

.footersocial {
  padding-left: 18px;
}

.div-block-20 {
  margin-bottom: 40px;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.div-block-21 {
  overflow: hidden;
}

.div-block-23 {
  overflow: hidden;
  max-width: 1100px;
  -o-object-fit: fill;
  object-fit: fill;
}

.image-10 {
  position: relative;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  overflow: visible;
  -o-object-fit: none;
  object-fit: none;
}

.div-block-24 {
  position: absolute;
  left: auto;
  top: 68%;
  right: -8%;
  bottom: 0%;
  z-index: 17;
  overflow: hidden;
}

.image-11 {
  position: absolute;
  left: auto;
  top: 39%;
  right: -9%;
  bottom: 0%;
  overflow: hidden;
}

.image-12 {
  position: absolute;
  left: auto;
  top: 63%;
  right: -8%;
  bottom: 0%;
}

.body {
  overflow: visible;
}

@media screen and (max-width: 991px) {
  .mycontainer {
    padding-right: 20px;
    padding-left: 20px;
  }
  .mycontainer.subthird {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .mycontainer.footercontain {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .navlink {
    background-color: #fff;
  }
  .navlink.aboutnav {
    background-color: #000;
  }
  .navlink.aboutnav.w--current {
    background-color: #000;
  }
  .heading {
    font-size: 48px;
  }
  .heading.aboutheading {
    font-size: 48px;
  }
  .section2heading {
    margin-right: auto;
    margin-left: auto;
    padding-right: 40px;
    padding-left: 40px;
  }
  .service-card {
    margin-right: 10px;
    margin-left: 10px;
  }
  .div-block-3 {
    margin-top: 40px;
  }
  .div-block-6 {
    padding: 40px 40px 40px 185px;
  }
  .abouttextwrapper {
    width: auto;
  }
  .menu-button {
    color: #816767;
  }
  .menu-button.w--open {
    background-color: #fff;
    color: #fff;
  }
  .icon {
    color: #000;
  }
  .section {
    top: 213px;
    right: -7%;
  }
  ._2section {
    left: -14%;
  }
  ._3section {
    top: 251%;
    right: -12%;
  }
  ._4section {
    left: -11%;
  }
  .nav-menu {
    background-color: #fff;
  }
  .menu-button-2 {
    color: #000;
  }
  .menu-button-2.w--open {
    background-color: #000;
    color: #000;
  }
  .nav-menu-2 {
    background-color: #fff;
  }
  .nav-menu-3 {
    background-color: #fff;
  }
  .nav-menu-3.aboutopen {
    background-color: #000;
  }
  .nav-menu-4 {
    background-color: #fff;
  }
  .nav-menu-5 {
    background-color: #fff;
    color: #000;
  }
  .div-block-8 {
    right: -13%;
    z-index: -3;
  }
  .div-block-11 {
    left: -13%;
  }
  .div-block-13 {
    left: -10%;
  }
  .div-block-18 {
    left: -16%;
  }
  .div-block-19 {
    right: -21%;
  }
  .image-9 {
    left: -11%;
  }
  .div-block-20 {
    display: block;
    margin-top: 40px;
    margin-right: 40px;
    margin-left: -20px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .aboutburger {
    color: #fff;
  }
  .aboutburger.abouticon {
    color: #fff;
  }
}

@media screen and (max-width: 767px) {
  .mycontainer.secondcontainer {
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 0px;
  }
  .mycontainer.footercontain {
    margin-right: 10px;
    margin-left: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .navlink {
    padding-left: 30px;
  }
  .herocontainer {
    height: auto;
    margin-bottom: 0px;
    padding-right: 30px;
    padding-left: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .herotexts {
    width: auto;
    max-width: none;
    margin: 40px auto;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .heading {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
  }
  .heading.aboutheading {
    text-align: left;
  }
  .heropara {
    margin-bottom: 20px;
    text-align: center;
  }
  .ctabutton {
    margin-right: auto;
    margin-left: auto;
  }
  .heroimage {
    width: 100%;
    height: 100%;
    max-width: none;
    margin: 40px;
    padding: 0px;
  }
  .image-2 {
    width: 80%;
    max-width: none;
  }
  .section2heading {
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
    padding-right: 0px;
    padding-left: 0px;
    font-size: 24px;
    line-height: 150%;
  }
  .section2cardwrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .cardsecondsection {
    width: 100%;
    max-width: 400px;
    margin-right: auto;
    margin-bottom: 40px;
    margin-left: auto;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .thirdsection {
    margin-top: 0px;
  }
  .commonsectiontext {
    width: auto;
    margin: 20px;
  }
  .commonsectionimage {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }
  .commonsectionpara {
    margin-top: 20px;
  }
  .heading-4 {
    margin-top: 0px;
    font-size: 28px;
    line-height: 150%;
  }
  .fourth {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
  .fifth {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .third {
    margin-top: 120px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
  }
  .servicecontainer {
    margin-top: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .heading-5 {
    position: static;
    margin-top: 0px;
  }
  .service-card {
    margin-top: 0px;
  }
  .secondcard {
    padding-top: 0px;
  }
  .firstcard {
    margin-top: 0px;
  }
  .grid-2 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .seventhsection {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .bluebox {
    width: 100vw;
    margin-top: -234px;
  }
  .testimonialimage {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .footerlink {
    font-size: 24px;
  }
  .div-block-5 {
    padding-top: 151px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .servicetext {
    position: static;
    top: 0px;
  }
  .lastheading {
    font-size: 24px;
    line-height: 125%;
  }
  .heading-7 {
    font-size: 28px;
    line-height: 150%;
  }
  .heading-8 {
    font-size: 28px;
    line-height: 150%;
  }
  .image-3 {
    margin-right: auto;
    margin-left: auto;
  }
  .paragraph-2 {
    font-size: 16px;
  }
  .paragraph-3 {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 30px;
    font-size: 32px;
  }
  .div-block-6 {
    margin-right: 40px;
    margin-left: 40px;
    padding-bottom: 40px;
    padding-left: 0px;
  }
  .div-block-8 {
    display: none;
  }
  .div-block-11 {
    display: none;
  }
  .div-block-12 {
    display: none;
  }
  .div-block-13 {
    display: none;
  }
  .reachout {
    font-size: 24px;
  }
  .hi {
    font-size: 48px;
  }
  .div-block-16 {
    margin-top: 50px;
  }
  .div-block-17 {
    display: none;
    overflow: hidden;
  }
  .div-block-18 {
    display: none;
  }
  .div-block-19 {
    display: none;
  }
  .div-block-20 {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
  }
  .div-block-22 {
    display: none;
  }
}

@media screen and (max-width: 479px) {
  .mycontainer.secondcontainer {
    padding-top: 0px;
  }
  .mycontainer.footercontain {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .paragraph {
    padding-left: 0px;
  }
  .paragraph.footerlogo {
    margin-right: auto;
    margin-left: auto;
    padding-right: 0px;
  }
  .navlink {
    text-align: center;
  }
  .herocontainer {
    padding-right: 20px;
    padding-left: 20px;
  }
  .heading {
    font-style: normal;
    text-align: center;
    text-decoration: none;
  }
  .heading.aboutheading {
    width: 90vw;
    font-size: 36px;
  }
  .heading.contactheadin {
    display: block;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    font-size: 32px;
    line-height: 125%;
    text-align: left;
  }
  .heroimage {
    display: none;
  }
  .section2heading {
    padding-right: 0px;
  }
  .commonsectiontext {
    width: 90vw;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
  }
  .commonsectionimage {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }
  .third {
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
  }
  .div-block-3 {
    margin: 0px;
  }
  .div-block-4 {
    height: 400px;
  }
  .footerlinkcontainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footerlink {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .lastheading {
    padding-top: 27px;
    font-size: 24px;
  }
  .aboutusheading {
    padding-right: 0px;
    padding-left: 0px;
  }
  .studioleadership {
    margin-bottom: -156px;
    color: #000;
    font-size: 28px;
  }
  .abouthero {
    padding-right: 20px;
    padding-left: 20px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .leaderslinkwrapper {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .section {
    display: none;
  }
  ._2section {
    display: none;
  }
  ._3section {
    display: none;
  }
  ._4section {
    display: none;
  }
  .image-5 {
    display: none;
  }
  .brand {
    padding-left: 0px;
  }
  .menu-button-2.w--open {
    background-color: #fff;
    color: #000;
  }
  .nav-menu-2 {
    background-color: #fff;
  }
  .hi {
    font-size: 30px;
  }
  .div-block-15 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .aboutburger.abouticon {
    color: #fff;
  }
}

@font-face {
  font-family: 'Renner';
  src: url('../fonts/renner-black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Renner';
  src: url('../fonts/renner-medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Renner book';
  src: url('../fonts/renner-book.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Renner';
  src: url('../fonts/renner-bookitalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Renner';
  src: url('../fonts/renner-lightitalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Renner';
  src: url('../fonts/renner-bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Renner';
  src: url('../fonts/renner-light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Renner';
  src: url('../fonts/renner-mediumitalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Avenirltstd';
  src: url('../fonts/AvenirLTStd-Black.otf') format('opentype'), url('../fonts/AvenirLTStd-Heavy.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Avenirltstd';
  src: url('../fonts/AvenirLTStd-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Avenirltstd roman';
  src: url('../fonts/AvenirLTStd-Roman.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}